*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;

}


    body {
      font-family: "Poppins", sans-serif;
      background: linear-gradient(135deg, #89f7fe, #66a6ff);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    /* Form container */
    .card-form {
      background: white;
      padding: 30px 40px;
      border-radius: 15px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      width: 350px;
    }

    h2 {
      text-align: center;
      color: #333;
      margin-bottom: 25px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
      font-weight: 500;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      transition: border-color 0.3s ease;
    }

    input:focus {
      border-color: #66a6ff;
      outline: none;
      box-shadow: 0 0 5px rgba(102, 166, 255, 0.4);
    }

    .flex {
      display: flex;
      gap: 10px;
    }

    .flex input {
      width: 100%;
    }

    button {
      width: 100%;
      background: #66a6ff;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      transition: 0.3s;
    }

    button:hover {
      background: #558de8;
    }

    /* Error message */
    small {
      color: red;
      font-size: 8px;
      display: block;
      margin-top: -8px;
      margin-bottom: 10px;
    }